@model OperatingCardAddViewModel

@{
    ViewBag.Title = "Generate new operating card";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_OperatingCardFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}